.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../assests/tech.png"); /* Add your background image here */
    background-size: cover;
    background-position: center;
  }
  
  .signup-container {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .signup-title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .signup-form .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .signup-form label {
    font-size: 1rem;
    color:  rgba(0, 0, 0, 0.6); /* Matches placeholder color */
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .signup-form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    color: #000;
    font-size: 14px;
    font-weight: bold;
    outline: none;
  }
  
  .signup-form input::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
  }
  
  .signup-button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  
  .signup-form p {
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.6); /* Matches placeholder color */
  }
  
  .signup-form .login-button {
    background: none;
    border: none;
    font-weight: bold;
    
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .login-button:hover {
    color: #0056b3; /* Darker blue on hover */
  }
 